.main {
    /* width: 980px; */
    height: 465px;
    padding-left: 220px;
    margin-top: 10px;
}

/* Focus */
.focus {
    position: relative;
    float: left;
    width: 721px;
    height: 455px;
    overflow: hidden;
}

.focus ul {
    position: absolute;
    width: 600%;
}

.focus ul li {
    float: left;
}

.arrow-l, .arrow-r {
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 24px;
    height: 40px;
    background-color: rgb(0, 0, 0, .3);
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 18px;
    z-index: 2;
}

.arrow-r {
    right: 0;
}

.circle {
    position: absolute;
    bottom: 10px;
    left: 50px;
}

.circle li {
    float: left;
    width: 8px;
    height: 8px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    margin: 0 3px;
    border-radius: 50%;
    /*鼠标经过显示小手*/
    cursor: pointer;
}

.current {
    background-color: #fff;
}

/* NewsFlash */
.newsflash {
    float: right;
    width: 250px;
    height: 455px;
}

/* News */
.news {
    height: 165px;
    border: 1px solid #e4e4e4;
}

/* News-hd */
.news-hd {
    height: 33px;
    line-height: 33px;
    border-bottom: 1px dotted #e4e4e4;
    padding: 0 15px;
}

.news-hd h5 {
    float: left;
    font-size: 14px;
}

.news-hd .more {
    float: right;
}

.news-hd .more::after {
    font-family: 'icomoon';
    content: '\e920';
}

/* News-bd */
.news-bd {
    padding: 5px 15px 0;
}

.news-bd ul li {
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Lifeservice */
.lifeservice {
    height: 210px;
    border-left: 1px solid #e4e4e4;
}

.lifeservice ul li {
    float: left;
    /* width: 62.25px; */
    width: 25%;
    height: 70px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    text-align: center;
}

.lifeservice ul li i {
    display: inline-block;
    width: 24px;
    height: 28px;
    /* background-color: aquamarine; */
    margin-top: 12px;
}

.lifeservice ul li:nth-of-type(1) i {
    background: url(../images/icons.png) no-repeat -17px -14px;
}

.lifeservice ul li:nth-of-type(2) i {
    background: url(../images/icons.png) no-repeat -80px -16px;
}

.lifeservice ul li:nth-of-type(3) i {
    background: url(../images/icons.png) no-repeat -141px -15px;
}

.lifeservice ul li:nth-of-type(4) i {
    background: url(../images/icons.png) no-repeat -206px -14px;
}

.lifeservice ul li:nth-of-type(5) i {
    background: url(../images/icons.png) no-repeat -17px -86px;
}

.lifeservice ul li:nth-of-type(6) i {
    background: url(../images/icons.png) no-repeat -80px -85px;
}

.lifeservice ul li:nth-of-type(7) i {
    background: url(../images/icons.png) no-repeat -143px -85px;
}

.lifeservice ul li:nth-of-type(8) i {
    background: url(../images/icons.png) no-repeat -206px -85px;
}

.lifeservice ul li:nth-of-type(9) i {
    background: url(../images/icons.png) no-repeat -16px -156px;
}

.lifeservice ul li:nth-of-type(10) i {
    background: url(../images/icons.png) no-repeat -79px -157px;
}

.lifeservice ul li:nth-of-type(11) i {
    background: url(../images/icons.png) no-repeat -142px -153px;
}

.lifeservice ul li:nth-of-type(12) i {
    background: url(../images/icons.png) no-repeat -206px -158px;
}

/* Bargain */
.bargain {
    margin-top: 5px;
}

/* Recom 推荐 */
.recom {
    height: 163px;
    background-color: #ebebeb;
    /* background-color: aqua; */
}

.recom_hd {
    float: left;
    height: 163px;
    width: 205px;
    background-color: #5c5251;
    text-align: center;
    padding-top: 30px;
}

.recom_bd ul li {
    position: relative;
    float: left;
    width: 248.75px;
}

.recom_bd ul li:nth-child(-n+3)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 10px;
    width: 1px;
    height: 143px;
    background-color: #ddd;
    /* background-color: #5c5251; */
}
.recom_bd ul li img {
    width: 248px;
    height: 163px;
}

/* Like 猜你喜欢 */
.like_hd {
    margin-top: 20px;
    height: 30px;
}
.like_hd p {
    display: inline;
    /* height: 18px; */
    font-size: 18px;
    line-height: 30px;
    font-weight: 550;
}
.like_hd a {
    position: relative;
    margin-right: 20px;
    height: 20px;
    font-size: 13px;
    line-height: 20px;
    margin-top: 5px;
}
.like_hd a i {
    position: absolute;
    display: inline-block;
    /* margin-top: 6px; */
    /* padding: 6px; */
    width: 17px;
    height: 17px;
    background-color: aqua;
    background: url(../images/icons.png) no-repeat -420px -108px;
}
.like_bd {
    height: 266px;
    border: 1px solid #ddd;
}
.like_bd ul li {
    position: relative;
    float: left;
    width: 199px;
}
.like_bd ul li:nth-child(-n+5)::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 5px;
    width: 1px;
    height: 60px;
    background-color: #ddd;
}
.like_bd ul li img {
    padding: 20px 24px;
}
.like_bd ul li p {
    /* padding: 0 20px; */
    width: 199px;
    font-size: 13px;
    padding-left: 30px;
    /* text-align: center; */
}
.like_bd ul li h2 {
    color: #c81623;
    padding-left: 30px;
}